/* Prediction.css */

/* Container for the prediction section */
.prediction-container {
    display: flex;
    flex-direction: column; /* Stack boxes vertically */
    align-items: center;
   
     /* Light background color */
}

/* Heading for the results section */
.results-heading {
    font-size: 36px; /* Font size for the heading */
  /* Dark blue color for the heading */
    margin-bottom: 40px; /* Space below the heading */
   
    text-align: center;
    color: black;
}

/* Prediction Boxes */
.prediction-box {
    width: 80%; /* Width of the boxes */
    max-width: 800px; /* Maximum width */
    height: 300px; /* Height of the boxes */
    padding: 20px;
  /* White background for the boxes */
    border-radius: 10px; /* Rounded corners */
  /* Initial shadow */
    text-align: center;
    margin-bottom: 20px; /* Space between boxes */
    transition: box-shadow 0.3s; /* Smooth shadow transition */
}


/* Title inside prediction boxes */
.prediction-title {
    font-size: 24px;
    color: #3b82f6; /* Blue color for title */
    margin-bottom: 10px;
    text-shadow: none; /* No shadow initially */
}


/* Content inside prediction boxes */
.prediction-content {
    font-size: 16px;
    color: #333; /* Dark text color */
}
