.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px); /* Full height with space at the top */
  padding: 40px;
  background: linear-gradient(135deg, #e0f7fa, #007bff); /* Theme gradient */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeIn 1s ease-out;
}

.add:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.page-title {
  font-size: 28px;
  color: rgb(20, 19, 19);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  padding: 30px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  color: #003366;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.image-preview {
  margin: 20px 0;
}

.preview-img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #003366;
  margin-bottom: 20px;
  font-weight: bold;
}

input[type="file"] {
  display: block;
  margin: 15px 0;
  font-size: 16px;
  color: #003366;
}

.generate-report-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.generate-report-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); /* Slight lift on hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
